html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn {
    width: 10%;
    height: 50px;
    background-color: darkorange;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

#color-id {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}